// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.best_in_place{

  border-width:1px;
  border-style: inset;
  background: white;
  padding:5px;




}
